
<h1>Time Table</h1>
<div class="time-table">
  <div class="time-table-dis">
    <p>
      Considering the current situation due to the covid epidemic in the country, it has been decided to hold our mathematics and science concurrent classes through online Zoom platform.

      Therefore, the following timetables have been revised for the convenience of the children.
    </p>
  </div>
<img style="  width: 100%; margin-bottom: 40px;" src="/assets/img/time-table.jpg">

<div>
  <h2>Mathematics Time Table</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/math-1.jpg">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/math-2.jpg">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/math-3.jpg">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/math-4.jpg">
        </div>
      </div>
    </div>

    <h2>Science Time Table</h2>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/science-1.jpg">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/science-2.jpg">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/science-3.jpg">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img style="width: 100%" src="/assets/img/time-table/science-4.jpg">
        </div>
      </div>
    </div>

  </div>
</div>
