
<img src="/assets/img/full post.jpg" style="width: 80%; margin-left: 10%" />

<h1>Science</h1>

<div class="row">
  <div class="subject-col">
    <i class="fa fa-flask"></i>
    <h3>Grade 06 </h3>

  </div>

  <div class="subject-col">
    <i class="fa fa-flask"></i>
    <h3>Grade 07</h3>


  </div>

  <div class="subject-col">
    <i class="fa fa-flask"></i>
    <h3>Grade 08</h3>


  </div>

  <div class="subject-col">
    <i class="fa fa-flask"></i>
    <h3>Grade 09</h3>


  </div>

</div>


<h1>Mathematics</h1>

<div class="row">
  <div class="subject-col">
    <i class="fa fa-calculator"></i>
    <h3>Grade 06</h3>

  </div>

  <div class="subject-col">
    <i class="fa fa-calculator"></i>
    <h3>Grade 07</h3>


  </div>

  <div class="subject-col">
    <i class="fa fa-calculator"></i>
    <h3>Grade 08</h3>


  </div>

  <div class="subject-col">
    <i class="fa fa-calculator"></i>
    <h3>Grade 09</h3>


  </div>

</div>

