<div class="subjects">

  <h1>Subjects</h1>
  <p>We are doing teaching activities for your children in English medium for the subject of science and developing the child's mind by providing sets of books related to those two subjects and various activities simultaneously.</p>

  <div class="row">
    <div class="subject-col">
      <i class="fa fa-flask"></i>
      <h3>Science</h3>
      <p>All the teaching activities related to the science subject are completed in the relevant term and the subject is also guided on the simultaneous experiment procedures and how it can be used in practical life.</p>
    </div>

    <div class="subject-col">
      <i class="fa fa-calculator"></i>
      <h3>Mathematics</h3>
      <p>All the teaching related to mathematics will be completed in the relevant term and we will work to provide the child with the mathematical environment that makes it necessary to solve the problems related to the subject along with new methods. With this, we would like to open new paths by expanding the logical intellect in the child.</p>
    </div>

  </div>

</div>
