<h1>Contact</h1>


<div class="location">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.630516101539!2d80.44820161507901!3d8.306129703958215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afc8b523263348b%3A0xd412d200e01c2b0e!2sKeerikkulama!5e1!3m2!1sen!2slk!4v1664125392493!5m2!1sen!2slk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<div class="contact-col">


  <h1>      Send Us A Message       </h1>


  <form action="user_message.php" method="POST" autocomplete="off">
    <div class="user my-4">

      <input type="text" name="username" placeholder="Enter Your Name" id="username" class="form-control" required>
    </div>
    <div class="email my-4">

      <input type="text" name="address" placeholder="Enter Your Address" id="address" class="form-control" required>
    </div>
    <div class="email my-4">

      <input type="text" name="contact" placeholder="Enter Your Contact Number" id="contact" class="form-control" required>
    </div>
    <div class="email my-4">

      <input type="email" name="email" placeholder="Enter Your Email Address" id="email" class="form-control" required>
    </div>
    <div class="subject my-4">

      <input type="text" name="subject" placeholder="Enter Your Subject" id="subject" class="form-control" required>
    </div>

    <div class="message my-4">

      <textarea name="message" placeholder="Enter Message Here..." id="message" rows="5" class="form-control" required></textarea>
    </div>
    <button type="submit" class="send-btn">  Send Message    </button>
  </form>



</div>

<div class="contact-us">
  <h1>Get in touch with us</h1>
  <div class="row">
    <div class="contact-col">

      <div>
        <i class="fa fa-home"></i>
        <span>
							<h4>Location</h4>
							<p>No.540, Galkulama Road, Anuradhapura</p>
						</span>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <span>
							<h4>Support</h4>
							<p>0711325731</p>
						</span>
      </div>

      <div>
        <i class="fa fa-envelope-o"></i>
        <span>
							<h4>Email Us</h4>
							<p>educa@gmail.com</p>
						</span>
      </div>

      <div>

						<span>
							<h4>Follow us</h4>
							<s class="icons">
								<a href="#"><i class="fa fa-facebook-official"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
              </s>
            </span>

      </div>

    </div>
  </div>


  </div>


