h1 {
  font-size: 40px;
  font-weight: 600;
  color: #154360;
  text-align: center;
}

.add-student-btn{
  margin: 10px;
  float: right;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
  background-color: black;
  border: none;

}

.add-student-btn:hover{
  background-color: #a8a8a8;
  border: none;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px
}

.edit-btn{
  cursor: pointer;
}

.delete-btn{
  cursor: pointer;
}
