.save-btn{
  margin: 10px;
  float: right;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
  background-color: black;
  border: none;

}

.save-btn:hover{
  background-color: #a8a8a8;
  border: none;
}
