

<img class="background-pic" src="/assets/img/back 2.jpg">

<br>

<div>

  <div style="display: flex; margin-bottom: 40px; justify-content: space-between" >
    <div class="card card-style" routerLink="/admin/students">
      <div class="card-body">
        <i class="fa fa-user" aria-hidden="true"></i><br>
        Students
      </div>
    </div>

    <div class="card card-style">
      <div class="card-body"routerLink="/admin/grades">
        <i class="fa fa-users"></i><br>
        Grades
      </div>
    </div>

    <div class="card card-style">
      <div class="card-body "routerLink="/admin/subjects">
        <i class="fa fa-calculator" ></i><br>
        Subjects
      </div>
    </div>

    <div class="card card-style">
      <div class="card-body"  routerLink="/admin/time-table">
        <i class="fa fa-calendar" ></i><br>
        Time table
      </div>
    </div>

    <div class="card card-style">
      <div class="card-body" routerLink="/admin/contact">
        <i class="fa fa-fw fa-envelope"></i><br>
       Contact
      </div>
    </div>


  </div>
</div>
